<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
</head>
<body>
<p>버스 노선 검색</p> <br>
<form method="get" action="/bus/BusSearch">
<input type="text" value="" name="busNum" size="15">
<button type="submit" >검색하기</button>
</form>

<script src="../js/RouteList.js"></script>
</body>
</html>