<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="../css/signin.css"  rel="stylesheet">
    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <title>register</title>

</head>

<body class="text-center">

<form class="form-signin" th:action="@{/account/register}" method="post">
    <a th:href="@{/}"><img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt=""
                           width="72" height="57"></a>
    <h1 class="h3 mb-3 fw-normal">회원가입</h1>
    <div class="form-floating">
        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
        <label for="username">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        <label for="password">Password</label>
    </div>
    <div class="form-floating">
        <input type="email" class="form-control" name="email" id="email" placeholder="email">
        <label for="email">이메일</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">회원가입</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022.05.11 - 2022</p>
</form>

</body>
</html>